<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/444205d38d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/admin/style-admin.css">
    <script src="../../static/js/admin/script-admin.js"></script>
    <title>Admin Page</title>
</head>

<body>
    <div class="main">
        <ul class="side-bar">
            <li class="bar-item" onclick="handleContent(this)">
                <i class="fa-solid fa-receipt"></i>
                <span>Invoice</span>
            </li>
            <li class="bar-item" onclick="">
                <i class="fa-solid fa-money-check-dollar"></i>
                <span>Sale</span>
            </li>
        </ul>

        <div id="content">

            <div class="container">
                <label for="typeStat">Statics Chart</label>                
                <select name="typeStat" id="typeStat" onchange="getSaleData()">
                    <option value="" disabled selected>Choose An Option</option>
                    <option value="day">Days</option>
                    <option value="week">Weeks</option>
                    <option value="month">Months</option>
                    <option value="year">Years</option>
                </select>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>

        </div>
    </div>
</body>

</html>