html,
body {
    font-family: monospace, Arial, Helvetica, sans-serif;
    font-size: medium;
    width: 100%;
    height: 200%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

tbody tr {
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

tbody tr:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;
    color: #fff;
}

input.manage-checkbox {
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

button {
    background-color: #04AA6D;
    border: none;
    border-radius: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 10px black;
}

.selected-value {
    background-color: #04AA6D;
}

.background {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1020;
}

.form {
    top: 25%;
    left: 25%;
    z-index: 1021;
}

.close-button:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#add-user-form button:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 10px black;
}

.navbar {
    z-index: 1001;
}

#notification-container {
    position: fixed;
    top: 6rem;
    right: 2rem;
    z-index: 3000;
}


.icon-container {
    width: 35px;
    height: 35px;
}

.icon {
    width: 17px;
    height: 17px;
}
.toolbar {
    position: sticky;
    top: 0;
    background: rgb(189 185 185);
    z-index: 1000;
}
.message-text,
.sub-text {
    margin: 0;
    cursor: default;
    max-width: 300px;
    word-break: break-word;
}

.message-text {
    font-size: 17px;
    font-weight: 700;
}

.sub-text {
    font-size: 14px;
}

.cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
}

.edit-mode #cancel-btn {
    background-color: #fb0202;
}

.edit-mode button>i {
    width: 1rem;
    height: 1rem;
}

.filter-search {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 20rem;
}

.input-filter-search {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input-filter-search::placeholder {
    color: #9e9ea7;
}

.input-filter-search:focus,
.input-filter-search:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.search-icon-filter-search {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
}

.caret-icon-filter-search {
    position: absolute;
    right: 1rem;
    cursor: pointer;
    text-align: center;
    width: 28px;
}

.caret-icon-filter-search:hover {
    background: rgb(128 128 128 / 50%);
    border-radius: 50%;
}

#dropdownSearch {
    display: none;
    position: absolute;
    width: 20rem;
    top: 3.3rem;
    z-index: 1000;
}

#dropdownSearch .form-search > input {
    border: none;
    border-bottom: 1px solid;
    width: 18rem;
    height: 2rem;
    margin-bottom: 2rem;
}

#dropdownSearch .form-search > input:hover,
#dropdownSearch .form-search > input:focus {
    outline: none;
    background-color: #f3f3f4;
}

.edit-mode td input {
    width: 100%;
}