#body {
    width: 100%;
}

.product-table li {
    padding-bottom: 2%;
}

.navbar-brand {
    width: 10%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-order {
    width: 130px;
    padding: 10px 10px;
}

.color {
    height: 1px;
    width: 100%;
    background: green;
}

li {
    list-style-type: none;
}

.product-name {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.product-table .product-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.order-table {
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
}