html body {
    height: 100%;
}

.product-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.1s ease;
}

li {
    list-style-type: none;
}

.product-name {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.product-table .product-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#ordertable .cashier {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 34%;
    transition: transform 0.3s ease;
}

#ordertable .cashier:hover {
    transform: scale(1.1);
}

#ordertable .delete-button {
    width: 100%;
}

#ordertable .delete-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.orderInformationTable-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#orderInformationTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


