.product-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.1s ease;
}

.product-table {
    list-style-type: none;
}

.product-name {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.product-table .product-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#ordertable .cashier {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: yellow;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 34%;
    transition: transform 0.3s ease;
}

#ordertable .cashier:hover {
    transform: scale(1.1);
}

#ordertable .delete-button {
    width: 100%;
}

#ordertable .delete-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


