<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="../../static/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/jquery.min.js"></script>

    <title>Login Page</title>
</head>
<body>
<div class="login-container">
    <h2>Đăng Nhập</h2>
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" id="btn" onclick="call()">Đăng Nhập</button>
</div>

<script>
    function call(){
        let user = {
            username : $("#username").val(),
            password : $("#password").val()
        }

        $.ajax({
            url: "/auth/authenticate",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(user),
            error: function(xhr, status, error) {
                console.error("Phản hồi từ máy chủ: " + xhr.responseText);
            }
        }).done(function(data){
            console.log(data)
        })
    }
</script>
</body>
</html>